//
   Created by rob on 23/03/16.


extends ../node_modules/jade-bootstrap/_bootstrap

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/style.css')

    block body
        +navbar("Colenso Project", "dropdown_menu")
            +nav_item("/") Home
            +nav_item("/searchpage","active") Documents
        + img-responsive-center("images/logo.jpg","Responsive Image")
        .container
            h1 #{title}
            .container
            p Welcome to #{title}. Home of historical documents.

            +nav-tabs-justified([{text:"Search",href:"/searchpage"},{text:"Submit",href:"/submit"},{text:"Edit",href:"/edit"}],2)
            br
            br
            br
            h1 Historical Document Editor
            p  Here you can enter load the xml from an existing document and update it!
            div.searchPlace
                div.row
                    div.col-md-4
                        form(id = 'submitbox', name ='submit', action='/submit', method='POST')
                            +input("text","text", "Enter file name here", "Filename", value = "name")
                            +submit("Submit")
                            br
                            textarea(id = 'myTextArea', name = 'text', style= "width:100%; height:400px")


        div.bottom
            link(rel='stylesheet', href='stylesheets/style2.css')
            .col-md-3
                ul#listings
                    li this is
                    li stuff that
                    li i want to
                    li write
            .col-md-3


            .col-md-3
                p some more text

