//
   Created by rob on 12/03/16.

extends ../node_modules/jade-bootstrap/_bootstrap

doctype html
html
    head
         title= title
         link(rel='stylesheet', href='stylesheets/style2.css')


    block body

        +navbar("Colenso Project", "dropdown_menu")
            +nav_item("/", "active") Home
            +nav_item("/searchpage") Documents

        .row
            .col-md-4
                p
            .co-md-3
                div.picture
                    a(href="/")
                        img(src="images/logo.jpg")

                div.minititle
                    h2 A celebration of his life and ideas

        div.boxes
            link(rel='stylesheet', href='stylesheets/style2.css')
            .row
                .col-md-3
                    div.first
                        div.head
                            link(rel='stylesheet', href='stylesheets/style2.css')
                            a(href="/searchpage")
                                p Documents
                            a(href="/searchpage")
                                +img-responsive-center("images/letter.jpg", "Responsive Image", "/searchpage")
                            div.foot
                                p #[a(href="/searchpage") Search all documents]
                .col-md-3
                    div.second
                        div.head
                            a(href="/#")
                                p The Project
                            a(href="/#")
                                +img-responsive-center("images/printingpress.png", "Responsive Image", "/#")
                            div.foot
                                p #[a(href="/#") Read about the project]
                .col-md-3
                    div.third
                        div.head
                            a(href="/#")
                            p William Colenso
                            a(href="/#")
                                +img-responsive-center("images/william.jpg", "Responsive Image", "/#")
                            div.foot
                                p #[a(href="/#") Read about William Colenso]
                .col-md-3
                    div.fourth
                        div.head
                            a(href="#")
                                p Our Partners
                        .row
                            .col-sm-6
                                +img-responsive("images/mtg.jpg", "Responsive Image", "/#")
                            .col-sm-6
                                +img-responsive("images/society.png", "Responsive Image", "/#")
                        .row

                            .col-sm-6

                        div.foot
                            p #[a(href="#") Read more about our partners]

        div.bottom
            link(rel='stylesheet', href='stylesheets/style2.css')
            .col-md-3
                ul#listings
                    li this is
                    li stuff that
                    li i want to
                    li write
            .col-md-3


            .col-md-3
                p some more text

