extends ../node_modules/jade-bootstrap/_bootstrap

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/style.css')

    block body
          +navbar("Colenso Project", "dropdown_menu")
            +nav_item("/") Home
            +nav_item("/searchpage","active") Documents
          + img-responsive-center("images/logo.jpg","Responsive Image")
          .container
            h1 #{title}
            .container
            p Welcome to #{title}. Home of historical documents.


                +nav-tabs-justified([{text:"Search",href:"/searchpage"},{text:"Submit",href:"/submit"},{text:"Edit",href:"#"}],0)
                br
                br
                br
                div.row
                    div.col-md-3
                        form(id = 'searchbox', name ='search', action='/search', method='GET')

                            +input("text","text","Search","Search", value = "search")
                            if queryType="stanjjdj'nard"
                                input(type="radio", name="query", value="standard")
                                br
                                br
                                input(type="radio", name="query", value="jquery")
                            else
                                input(type="radio", name="query", value="standard")
                                br
                                br
                                input(type="radio", name="query", value="jquery",checked)

                br
                br
                p #{xmlstuff}




          div.bottom
                link(rel='stylesheet', href='stylesheets/style2.css')
                .col-md-3
                    ul#listings
                        li this is
                        li stuff that
                        li i want to
                        li write
                .col-md-3


                .col-md-3
                    p some more text

