body {
  padding: 150px;

}



@font-face {
    font-family: Montserrat;
    src: url("/public/stylesheets/Montserrat-Regular.otf") format("opentype");
}

.bottom {

    height:200px;
    width:100%;
    background-color: #839f39;
    margin-top:100px;
    font-color: #e5e5e5;
}

.searchPlace {
   font-size:26px;

}

.inputBox {
    height:300px;
}
