body {
  padding: 150px;

}



@font-face {
    font-family: Montserrat;
    src: url("/public/stylesheets/Montserrat-Regular.otf") format("opentype");
}

.bottom {
  height:200px;
  width:100%;
  background-color: #7b9739;
  margin-top:100px;
}

.inputBox {
    height:300px;
}
