



@font-face {
    font-family: Montserrat;
    src: url("/public/stylesheets/Montserrat-Regular.otf") format("opentype");
}




.inputBox {
    height:300px;
}



.infotext p{
    font-size: 24px;
    color: #ff2b1d;
}

.searches{
    color:greenyellow;
}